body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
}

.container {
  width: 570px;
  margin: 0 auto;
  padding: 0 45px;
}

header {
  background-color: #d7d7d7;
}

.about-me {
  background-color: #ffeaea;
}

.articles {
  background-color: #eaf9ff;
}

.dark {
  background-color: #252525;
  color: #fff;
}

header,
section {
  padding: 100px 0;
}

.bold-text {
  color: #99d930;
  font-weight: 900;
  display: block;
}

h1 .bold-text {
  font-size: 80px;
}

h2 .bold-text {
  font-size: 60px;
}

h1,
h2 {
  font-weight: 300;
  margin-top: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 0;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.small-text {
  font-size: 16px;
  margin-top: 0;
}

.btn {
  color: #252525;
  background-color: #99d930;
  text-decoration: none;
  padding: 5px 20px;
  display: inline-block;
  margin-top: 25px;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #252525;
}

article .btn:hover,
article .btn:focus {
  background: #fff;
  color: #252525;
}

a {
  color: #99d930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #131313;
}

.container h1 {
  font-size: 80px;
}

.container h2 {
  font-size: 60px;
}

.name {
  color: #99d930;
}

time {
  color: #99d930;
}
